/*------------------------------------*\
  #Fonts
\*------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100;200;300;400;500;600;700;800;900&display=swap");
/*------------------------------------*\
  #Colors
\*------------------------------------*/
/*------------------------------------*\
  #Elements
\*------------------------------------*/
body,
html {
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  padding: 1rem;
}
main section {
  max-width: 1300px;
}

@media (min-width: 751px) and (max-width: 1024px) {
  main {
    width: 100%;
  }
  main section {
    max-width: 800px;
  }
}
@media (min-width: 601px) and (max-width: 750px) {
  main {
    width: 100%;
  }
  main section {
    max-width: 600px;
  }
}
@media (max-width: 600px) {
  main {
    width: 100%;
    padding: 0.5rem;
  }
  main section {
    max-width: 400px;
  }
}
/*------------------------------------*\
  #User Experience
\*------------------------------------*/
/* Ocultar barras de desplazamiento en ejes X - Y */
body,
html {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE y Edge */
}

body::-webkit-scrollbar,
html::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari y Opera */
}

/*------------------------------------*\
    #Contact Btn
\*------------------------------------*/
.contact_btn {
  width: 250px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E6EDF2;
  border-radius: 10px;
  border-color: transparent;
  text-align: center;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-right: 30px;
}
.contact_btn img {
  width: 3.125rem;
  height: 3.125rem;
}
.contact_btn:hover {
  transform: scale(1.05);
  cursor: pointer;
}

/*------------------------------------*\
    #Button sparks
\*------------------------------------*/
.btn_sparks {
  padding: 1.25em 4em;
  border-radius: 1.25em;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #7570B3;
  transition: all 0.2s ease;
  font-family: "Baloo 2", cursive;
  font-weight: bold;
  font-size: 2vw;
  position: relative;
  min-width: 120px;
  min-height: 48px;
}
.btn_sparks:active {
  transform: scale(0.96);
}
.btn_sparks:before, .btn_sparks:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}
.btn_sparks:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, #7570B3 20%, transparent 20%), radial-gradient(circle, transparent 20%, #7570B3 20%, transparent 30%), radial-gradient(circle, #7570B3 20%, transparent 20%), radial-gradient(circle, #7570B3 20%, transparent 20%), radial-gradient(circle, transparent 10%, #7570B3 15%, transparent 20%), radial-gradient(circle, #7570B3 20%, transparent 20%), radial-gradient(circle, #7570B3 20%, transparent 20%), radial-gradient(circle, #7570B3 20%, transparent 20%), radial-gradient(circle, #7570B3 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}
.btn_sparks:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #7570B3 20%, transparent 20%), radial-gradient(circle, #7570B3 20%, transparent 20%), radial-gradient(circle, transparent 10%, #7570B3 15%, transparent 20%), radial-gradient(circle, #7570B3 20%, transparent 20%), radial-gradient(circle, #7570B3 20%, transparent 20%), radial-gradient(circle, #7570B3 20%, transparent 20%), radial-gradient(circle, #7570B3 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}
@media (max-width: 600px) {
  .btn_sparks {
    font-size: 1.2rem;
    padding: 0.8em 2em;
    border-radius: 0.8em;
  }
}
@media (max-width: 400px) {
  .btn_sparks {
    font-size: 1rem;
    padding: 0.6em 1.2em;
    border-radius: 0.6em;
  }
}

@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}/*# sourceMappingURL=buttons.css.map */