@use "../variables";

/*------------------------------------*\
    #NavBar
\*------------------------------------*/
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 1000;
    padding: 0px 5px;
    margin-top: 0;

    .nav_brand {
        margin-left: 1rem;

        a {
            display: inline-block;

            img {
                width: 100px;
                height: 30px;
                max-width: 100%;
                display: block;
                margin-top: 10px;
            }
        }
    }

    .nav_links {
        margin-left: auto;
        display: flex;
        gap: 2.5rem;
        margin-right: 3.125rem;
        list-style: none;
        align-items: center;

        a {
            color: variables.$gray_005;
            font-size: 18px;

            &:hover {
                color: variables.$white_004;
                font-weight: 600;
            }

            img {
                width: 30px;
                height: auto;
            }
        }
    }

    .menu-toggle {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-left: auto;
        margin-right: 1.5rem;
        z-index: 1100;

        .bar {
            width: 25px;
            height: 3px;
            background-color: variables.$gray_005;
            margin: 4px 0;
            border-radius: 2px;
            transition: all 0.3s ease;
        }

        &.active .bar:nth-child(1) {
            transform: rotate(45deg) translate(5px, 5px);
        }

        &.active .bar:nth-child(2) {
            opacity: 0;
        }

        &.active .bar:nth-child(3) {
            transform: rotate(-45deg) translate(5px, -5px);
        }
    }
}

body.scrolled nav {
    background-color: rgba(variables.$white_004, 0.2);
    transition: background-color 0.3s ease;
}

/*------------------------------------*\
    #Social Bar styles
\*------------------------------------*/
.socialBar {
    position: fixed;
    top: 50%;
    right: 0.625rem;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 0.3125rem;
    border-radius: 1.25rem;
    z-index: 1200;
    background: rgba(0, 0, 0, 0.6);
    padding: 0.5rem;

    .socialBar_red {
        padding: 0.625rem;
        transition: all 0.3s ease;

        img {
            width: 1.25rem;
            height: 1.25rem;
            transition: filter 0.3s ease;
        }

        &:hover img {
            filter: brightness(0) saturate(100%) invert(48%) sepia(40%) saturate(500%) hue-rotate(110deg) brightness(90%) contrast(100%);
        }
    }
}

/*------------------------------------*\
    #Caption Text styles
\*------------------------------------*/
.caption_text {
    position: relative;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    background: linear-gradient(to bottom,
            rgba(variables.$green_002, 0.6) 0%,
            rgba(variables.$black_000, 0.6) 100%);

    h3 {
        position: absolute;
        opacity: 0;
        transform: translateY(50px);
        transition: opacity 0.6s ease, transform 0.6s ease;
        font-size: 20px;
        color: rgba(variables.$white_000, 0.6);
        margin: 0;
        padding: 0 1rem;

        &.active {
            opacity: 1;
            transform: translateY(0);
        }

        &.exit {
            opacity: 0;
            transform: translateY(-50px);
        }
    }
}

/*------------------------------------*\
    # Title_shadow
\*------------------------------------*/
.title_shadow {
    color: variables.$green_002;
    font-size: 1.5rem;
    font-weight: 700;

    span {
        color: variables.$white_002;
        -webkit-text-stroke-color: rgb(255 255 255 / 20%);
        font-size: 4rem;
        position: absolute;
        z-index: -1;
        opacity: 0.1;
    }
}

/*------------------------------------*\
    #3D Carrousel
\*------------------------------------*/
.carrousel_3d {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 120px;

    .carrousel_3d_item {
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 80px;
        padding: 10px;
        border-radius: 10px;
        background-color: variables.$black_004;
        border-bottom: 4px solid rgba(255, 255, 255, 0.25);
        border-right: 4px solid rgba(255, 255, 255, 0.25);
        box-shadow: 2px 2px 8px rgba(255, 255, 255, 0.25);
        transition: all 0.8s ease;

        img {
            border-radius: 50px;
            width: 70px;
            height: 70px;
            margin-right: 20px;
        }

        a {
            font-family: 'Lexend Giga';
            color: variables.$white_000;
            font-weight: bold;
            text-decoration: none;
            font-size: 20px;
        }

        &.center {
            transform: scale(1);
            opacity: 1;
            z-index: 3;
        }

        &.left,
        &.right {
            transform: scale(0.6);
            opacity: 0.2;
            z-index: 1;
        }
    }
}

/*------------------------------------*\
    #FAQ Section
\*------------------------------------*/
.FAQ {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;

    .FAQ_title {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 3rem;

        h2 {
            font-family: 'Baloo 2', cursive;
            font-size: 2.5rem;
            margin-bottom: 0;
            font-weight: bold;
            text-align: center;
        }

        p {
            font-family: 'Work Sans', sans-serif;
            font-size: 1.25rem;
            font-weight: bold;
            color: variables.$gray_004;
            margin: 0;
            text-align: center;
        }
    }

    .FAQ_item {
        margin-bottom: 1.25rem;
        padding: 0 1rem;
        text-align: justify;

        h3 {
            font-family: 'Baloo 2', cursive;
            font-size: 1.5rem;
            font-weight: bold;
            margin: 0 0 0.5rem 0;
        }

        p {
            font-family: 'Work Sans', sans-serif;
            font-size: 1.125rem;
            font-weight: bold;
            color: variables.$gray_004;
            margin: 0;
        }
    }
}

/*------------------------------------*\
    #MAIN FAQ 
\*------------------------------------*/
.MAIN_FAQ {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: variables.$white_000;
    text-align: justify;

    max-width: 1300px;
    border-radius: 40px;
    padding: 40px;

    // Fondo degradado
    background:
        linear-gradient(to top right,
            rgba(0, 158, 102, 0.6) 0%,
            rgba(18, 18, 18, 1) 30%);

    h2 {
        font-size: 40px;
        font-weight: bold;
    }

    .FAQ_LIST {
        display: flex;
        flex-direction: column;
        margin: 0px 50px;

        h3 {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 0;
        }

        p {
            font-size: 14px;
            font-weight: 300;
            margin-top: 12px;
            margin-bottom: 20px;
        }

        span {
            color: variables.$green_004;
            font-weight: bold;
        }
    }
}

/*------------------------------------*\
    #Footer MLA
\*------------------------------------*/
.MLA_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: variables.$green_002;

    h2 {
        color: variables.$white_000;
        font-family: 'Lexend Giga';
        font-weight: bold;
        font-size: 40px;
        text-align: center;
    }

    .footer_contact {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-self: center;

        .footer_contact_item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
                width: 80px;
                height: 80px;
            }

            h3 {
                color: variables.$white_000;
                font-family: "Poppins", sans-serif;
                font-weight: bold;
                font-size: 30px;
                margin-bottom: 0;
            }

            a {
                color: variables.$white_000;
                text-decoration: none;
                font-family: "Poppins", sans-serif;
                font-weight: 400;
                font-size: 24px;
                margin-top: 0;
            }
        }
    }
}

/*------------------------------------*\
    #Copyright Section
\*------------------------------------*/
.copyright {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    color: variables.$gray_004;
    margin-top: 2rem;
    margin-bottom: 0;
    text-align: center;

    a {
        color: variables.$green_002;
        text-emphasis: none;
        text-decoration: none;
    }
}

/*------------------------------------*\
    #Responsive Section
\*------------------------------------*/
@media (min-width: 601px) and (max-width: 750px) {
    nav {
        justify-content: space-between;
        padding: 0.75rem 1rem;

        .nav_links {
            position: fixed;
            top: 0;
            right: -100%;
            height: 100vh;
            width: 65%;
            background-color: transparent;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            transition: right 0.3s ease;
            box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);

            a {
                color: variables.$gray_005;
                font-size: 1.1rem;
                font-weight: 500;
            }

            &.active {
                right: 0;
            }
        }

        .menu-toggle {
            display: flex;
        }
    }

    .MAIN_FAQ {
        display: flex;
        flex-direction: column;
        padding: 30px;
        width: 90%;

        h2 {
            text-align: center;
        }

        .FAQ_LIST {
            margin: 0;
        }
    }

    .FAQ {
        width: 80%;

        .FAQ_title {
            margin-bottom: 1.5rem;

            h2 {
                font-size: 40px;
            }

            p {
                font-size: 16px;
            }
        }

        .FAQ_item {
            margin-bottom: 1rem;

            h3 {
                font-size: 20px;
            }

            p {
                font-size: 16px;
            }
        }
    }

    .MLA_footer {
        h2 {
            font-size: 30px;
        }

        .footer_contact {
            flex-direction: row;

            .footer_contact_item {
                img {
                    width: 60px;
                    height: 60px;
                }

                h3 {
                    font-size: 24px;
                }

                a {
                    font-size: 20px;
                }
            }
        }
    }

    .copyright {
        width: 80%;
        font-size: 16px;
        margin-top: 1rem;
        text-align: center;

        a {
            font-size: 16px;
        }
    }
}

@media (max-width: 600px) {
    nav {
        justify-content: space-between;
        padding: 0.5rem 1rem;

        .nav_brand img {
            width: 40px;
            height: 40px;
        }

        .menu-toggle {
            display: flex;
        }

        .nav_links {
            position: fixed;
            top: 0;
            right: -100%;
            height: 100vh;
            width: 80%;
            background-color: transparent;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1.5rem;
            transition: right 0.3s ease;
            box-shadow: -5px 0 15px rgba(0, 0, 0, 0.15);

            a {
                color: variables.$gray_005;
                font-size: 1.2rem;
                font-weight: 500;
            }

            &.active {
                right: 0;
            }
        }
    }

    .caption_text {
        h3 {
            font-size: 14px;
        }
    }

    .carrousel_3d {
        height: 140px;

        .carrousel_3d_item {
            width: 300px;
            height: 80px;
            padding: 10px;

            img {
                width: 50px;
                height: 50px;
                margin-right: 15px;
            }

            a {
                font-size: 14px;
            }
        }
    }

    .MAIN_FAQ {
        display: flex;
        flex-direction: column;
        padding: 30px;
        width: 80%;

        h2 {
            text-align: center;
        }

        .FAQ_LIST {
            margin: 0;
        }
    }

    .FAQ {
        width: 80%;

        .FAQ_title {
            margin-bottom: 1.5rem;

            h2 {
                font-size: 40px;
            }

            p {
                font-size: 16px;
            }
        }

        .FAQ_item {
            margin-bottom: 1rem;

            h3 {
                font-size: 20px;
            }

            p {
                font-size: 16px;
            }
        }
    }

    .MLA_footer {
        h2 {
            font-size: 30px;
        }

        .footer_contact {
            flex-direction: column;

            .footer_contact_item {
                margin-top: 40px;

                img {
                    width: 50px;
                    height: 50px;
                    margin-bottom: 0;
                }

                h3 {
                    margin-top: 0;
                }
            }
        }
    }

    .copyright {
        width: 90%;
        font-size: 16px;
        margin-top: 1rem;
        text-align: center;

        a {
            font-size: 16px;
        }
    }
}