@use "../variables";

/*------------------------------------*\
    #NavBar
\*------------------------------------*/
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 1000;

    .nav_brand {
        margin-left: 1rem;

        a {
            display: inline-block;

            img {
                width: 100px;
                height: 30px;
                max-width: 100%;
                display: block;
                margin-top: 10px;
            }
        }
    }

    .nav_links {
        margin-left: auto;
        /* empuja los links al extremo derecho */
        display: flex;
        gap: 2.5rem;
        margin-right: 3.125rem;
        list-style: none;
        align-items: center;

        a {
            color: variables.$gray_005;
            font-size: 18px;

            &:hover {
                color: variables.$white_004;
                font-weight: 600;
            }

            img {
                width: 30px;
                height: auto;
            }
        }
    }

    .menu-toggle {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-left: auto;
        margin-right: 1.5rem;
        z-index: 1100;

        .bar {
            width: 25px;
            height: 3px;
            background-color: variables.$gray_005;
            margin: 4px 0;
            border-radius: 2px;
            transition: all 0.3s ease;
        }

        &.active .bar:nth-child(1) {
            transform: rotate(45deg) translate(5px, 5px);
        }

        &.active .bar:nth-child(2) {
            opacity: 0;
        }

        &.active .bar:nth-child(3) {
            transform: rotate(-45deg) translate(5px, -5px);
        }
    }
}

body.scrolled nav {
    background-color: rgba(variables.$white_004, 0.2);
    transition: background-color 0.3s ease;
}

/*------------------------------------*\
    #FAQ Section
\*------------------------------------*/
.FAQ {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;

    .FAQ_title {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 3rem;

        h2 {
            font-family: 'Baloo 2', cursive;
            font-size: 2.5rem;
            margin-bottom: 0;
            font-weight: bold;
            text-align: center;
        }

        p {
            font-family: 'Work Sans', sans-serif;
            font-size: 1.25rem;
            font-weight: bold;
            color: variables.$gray_004;
            margin: 0;
            text-align: center;
        }
    }

    .FAQ_item {
        margin-bottom: 1.25rem;
        padding: 0 1rem;
        text-align: justify;

        h3 {
            font-family: 'Baloo 2', cursive;
            font-size: 1.5rem;
            font-weight: bold;
            margin: 0 0 0.5rem 0;
        }

        p {
            font-family: 'Work Sans', sans-serif;
            font-size: 1.125rem;
            font-weight: bold;
            color: variables.$gray_004;
            margin: 0;
        }
    }
}

/*------------------------------------*\
    #MAIN FAQ 
\*------------------------------------*/
.MAIN_FAQ {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: variables.$white_000;
    text-align: justify;

    max-width: 1300px;
    border-radius: 40px;
    padding: 40px;

    // Fondo degradado
    background:
        linear-gradient(to top right,
            rgba(0, 158, 102, 0.6) 0%,
            rgba(18, 18, 18, 1) 30%);

    h2 {
        font-size: 40px;
        font-weight: bold;
    }

    .FAQ_LIST {
        display: flex;
        flex-direction: column;
        margin: 0px 50px;

        h3 {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 0;
        }

        p {
            font-size: 14px;
            font-weight: 300;
            margin-top: 12px;
            margin-bottom: 20px;
        }

        span {
            color: variables.$green_004;
            font-weight: bold;
        }
    }
}

/*------------------------------------*\
    #Copyright Section
\*------------------------------------*/
.copyright {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    color: variables.$gray_004;
    margin-top: 2rem;
    margin-bottom: 0;
    text-align: center;

    a {
        color: variables.$green_002;
        text-emphasis: none;
        text-decoration: none;
    }
}

/*------------------------------------*\
    #Responsive Section
\*------------------------------------*/
@media (min-width: 601px) and (max-width: 750px) {
    nav {
        justify-content: space-between;
        padding: 0.75rem 1rem;

        .nav_links {
            position: fixed;
            top: 0;
            right: -100%;
            height: 100vh;
            width: 65%;
            background-color: transparent;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            transition: right 0.3s ease;
            box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);

            a {
                color: variables.$gray_005;
                font-size: 1.1rem;
                font-weight: 500;
            }

            &.active {
                right: 0;
            }
        }

        .menu-toggle {
            display: flex;
        }
    }

    .FAQ {
        width: 80%;

        .FAQ_title {
            margin-bottom: 1.5rem;

            h2 {
                font-size: 40px;
            }

            p {
                font-size: 16px;
            }
        }

        .FAQ_item {
            margin-bottom: 1rem;

            h3 {
                font-size: 20px;
            }

            p {
                font-size: 16px;
            }
        }
    }


    .copyright {
        width: 80%;
        font-size: 16px;
        margin-top: 1rem;
        text-align: center;

        a {
            font-size: 16px;
        }
    }

    .MAIN_FAQ {
        display: flex;
        flex-direction: column;
        padding: 30px;
        width: 90%;

        h2 {
            text-align: center;
        }

        .FAQ_LIST {
            margin: 0;
        }
    }
}

@media (max-width: 600px) {
    nav {
        justify-content: space-between;
        padding: 0.5rem 1rem;

        .nav_brand img {
            width: 40px;
            height: 40px;
        }

        .menu-toggle {
            display: flex;
        }

        .nav_links {
            position: fixed;
            top: 0;
            right: -100%;
            height: 100vh;
            width: 80%;
            background-color: transparent;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1.5rem;
            transition: right 0.3s ease;
            box-shadow: -5px 0 15px rgba(0, 0, 0, 0.15);

            a {
                color: variables.$gray_005;
                font-size: 1.2rem;
                font-weight: 500;
            }

            &.active {
                right: 0;
            }
        }
    }

    .FAQ {
        width: 80%;

        .FAQ_title {
            margin-bottom: 1.5rem;

            h2 {
                font-size: 40px;
            }

            p {
                font-size: 16px;
            }
        }

        .FAQ_item {
            margin-bottom: 1rem;

            h3 {
                font-size: 20px;
            }

            p {
                font-size: 16px;
            }
        }
    }

    .copyright {
        width: 90%;
        font-size: 16px;
        margin-top: 1rem;
        text-align: justify;

        a {
            font-size: 16px;
        }
    }

    .MAIN_FAQ {
        display: flex;
        flex-direction: column;
        padding: 30px;
        width: 80%;

        h2 {
            text-align: center;
        }

        .FAQ_LIST {
            margin: 0;
        }
    }
}