@use "../../../../assets/styles/variables.scss";
@use "../../../../assets/styles/components/cards.scss";
@use "../../../../assets/styles/components/buttons.scss";
@use "../../../../assets/styles/components/elements.scss";

h1,
h2,
a {
    font-family: 'Baloo 2', cursive;
    text-decoration: none;
    color: variables.$black_000;
}

head {
    display: flex;
    flex-direction: column;
}

.header_title {
    background-color: variables.$gray_001;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;

    img {
        width: 200px;
        height: 100px;
    }

    a {
        font-size: 25px;

        &:hover {
            color: variables.$white_000;
            transition: 0.3s;
            background-color: variables.$pink_001;
            width: 140px;
            height: 40px;
            border-radius: 20px;
            text-align: center;
        }
    }
}

.header_body {
    background-color: variables.$gray_001;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 20px;

    img {
        width: 420px;
        height: 400px;
        max-width: 100%;
        height: auto;
    }

    .header_body_inf {
        padding: 2%;

        h1 {
            font-size: 80px;
            font-weight: bold;
            margin: 0;
        }

        h2 {
            font-family: 'Work Sans', sans-serif;
            font-size: 30px;
            font-weight: 500;
            margin: 0;
            margin-bottom: 30px;
        }

        a {
            font-family: 'Work Sans', sans-serif;
            font-size: 25px;
            font-weight: bold;
            width: 100%;
            max-width: 520px;
            height: 100px;
            background-color: variables.$purple_001;
            padding: 10px;
            border-radius: 10px;
            color: variables.$white_000;

            &:hover {
                transform: scale(1.05);
                background-color: variables.$pink_001;
                cursor: pointer;
            }
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: variables.$gray_002;

    h2 {
        text-align: center;
        font-size: 40px;
        font-weight: bold;
    }

    .services {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .services_list {
            display: flex;
            flex-direction: row;
            max-width: 1300px;
            flex-wrap: wrap;
            gap: 20px;

            .service_card-front,
            .service_card-back {
                border: 1px solid variables.$gray_003;
                min-width: 250px;
                flex: 1 1 250px;
            }

            .service_card-front {
                background: variables.$gray_003;
            }
        }
    }

    .FAQ_item {
        h3 {
            color: variables.$pink_001;
        }
    }
}

/* Responsive styles */
@media (min-width: 751px) and (max-width: 1024px) {
    html,
    body {
        width: 100%;
        max-width: 1000px;
        overflow-x: hidden;
    }

    head,
    .header_title,
    .header_body,
    main {
        width: 100%;
        max-width: 1000px;
        overflow-x: hidden;
        padding: 0;
    }

    .header_body {
        img {
            width: 380px;
            height: 300px;
            max-width: 100%;
        }

        .header_body_inf {
            h1 {
                font-size: 60px;
            }
        }
    }

    main {
        section {
            max-width: 85vw;
            width: 85vw;
        }

        .services {
            .services_list {
                flex-direction: column;
                max-width: 500px;
                gap: 10px;
            }
        }
    }
}

@media (min-width: 601px) and (max-width: 750px) {

    h2,
    a {
        font-size: 40px;
        text-align: center;
    }

    .header_body {
        flex-direction: column;
        justify-content: center;


        .header_body_inf {
            padding: 2%;
            text-align: center;
            margin-bottom: 30px;

            h1 {
                font-size: 60px;
            }
        }
    }

    main {
        max-width: 720px;

        section {
            max-width: 85%;
        }

        .services {
            .services_list {
                flex-direction: column;
                max-width: 500px;
                gap: 10px;
            }
        }
    }
}

@media (max-width: 600px) {

    h2,
    a {
        font-size: 40px;
        text-align: center;
    }

    head {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .header_title {
        width: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;

        img {
            width: 300px;
            height: 150px;
        }

        a {
            display: none;
        }
    }

    .header_body {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;

        img {
            width: 320px;
            height: 260px;
        }

        .header_body_inf {
            padding: 2%;
            text-align: center;
            margin-bottom: 30px;

            h1 {
                font-size: 40px;
            }
        }
    }

    main {
        max-width: 500px;

        section {
            max-width: 85%;
        }

        .services {
            .services_list {
                flex-direction: column;
                max-width: 500px;
                gap: 10px;
            }
        }
    }
}