/*------------------------------------*\
  #Fonts
\*------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/*------------------------------------*\
  #Colors
\*------------------------------------*/
/* // Blue
$dark_blue_000: #; */
/*------------------------------------*\
  #Elements
\*------------------------------------*/
body,
html {
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  padding: 1rem;
}
main section {
  max-width: 1300px;
}

@media (max-width: 600px) {
  main {
    width: 100%;
    padding: 0.5rem;
  }
  main section {
    max-width: 400px;
  }
}
/*------------------------------------*\
  #User Experience
\*------------------------------------*/
/* Ocultar barras de desplazamiento en ejes X - Y */
body,
html {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE y Edge */
}

body::-webkit-scrollbar,
html::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari y Opera */
}

/*------------------------------------*\
  #Flip card
\*------------------------------------*/
.service_card {
  background-color: transparent;
  width: 250px;
  height: 350px;
  font-family: "Baloo 2", cursive;
  margin: 25px;
}
.service_card .service_card-inner {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.service_card .service_card-inner .title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}
.service_card .service_card-inner .text {
  font-size: 20px;
  font-family: "Work Sans", sans-serif;
  text-align: center;
  padding: 10px;
}
.service_card .service_card-inner img {
  width: 160px;
  height: 180px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.service_card .service_card-inner .service_card-front,
.service_card .service_card-inner .service_card-back {
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: 1px solid #FFFFFF;
  border-radius: 1rem;
}
.service_card .service_card-inner .service_card-front {
  background: #FFFFFF;
  color: #000000;
}
.service_card .service_card-inner .service_card-back {
  background: #FFFFFF;
  color: #000000;
  transform: rotateY(180deg);
}

.service_card:hover .service_card-inner {
  transform: rotateY(180deg);
}

/*------------------------------------*\
  #Notification Card
\*------------------------------------*/
.notification {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 140px;
  isolation: isolate;
  position: relative;
  background: #29292c;
  border-radius: 1rem;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin: 10px;
  --gradient: linear-gradient(to bottom, #2eadff, #3d83ff, #7e61ff);
  --color: #32a6ff;
}
.notification:before {
  position: absolute;
  content: "";
  inset: 0.0625rem;
  border-radius: 0.9375rem;
  background: #18181b;
  z-index: 2;
}
.notification:after {
  position: absolute;
  content: "";
  width: 0.25rem;
  inset: 0.65rem auto 0.65rem 0.5rem;
  border-radius: 0.125rem;
  background: var(--gradient);
  transition: transform 300ms ease;
  z-index: 4;
}
.notification:hover:after {
  transform: translateX(0.15rem);
}
.notification:hover .notititle {
  transform: translateX(0.15rem);
}
.notification:hover .notibody {
  transform: translateX(0.25rem);
}
.notification:hover .notiglow {
  opacity: 0.1;
}
.notification:hover .notiborderglow {
  opacity: 0.1;
}
.notification .notititle {
  color: var(--color);
  padding: 0.65rem 0.25rem 0.4rem 1.25rem;
  font-weight: 500;
  font-size: 1.1rem;
  transition: transform 300ms ease;
  z-index: 5;
}
.notification .notibody {
  color: #99999d;
  padding: 0 1.25rem;
  transition: transform 300ms ease;
  z-index: 5;
}
.notification .notiglow,
.notification .notiborderglow {
  position: absolute;
  width: 20rem;
  height: 20rem;
  transform: translate(-50%, -50%);
  background: radial-gradient(circle closest-side at center, white, transparent);
  opacity: 0;
  transition: opacity 300ms ease;
}
.notification .notiglow {
  z-index: 3;
}
.notification .notiborderglow {
  z-index: 1;
}

.note {
  color: var(--color);
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 0.9rem;
  width: 75%;
}

/*------------------------------------*\
    #FAQ Section
\*------------------------------------*/
.FAQ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.FAQ .FAQ_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}
.FAQ .FAQ_title h2 {
  font-family: "Baloo 2", cursive;
  font-size: 2.5rem;
  margin-bottom: 0;
  font-weight: bold;
  text-align: center;
}
.FAQ .FAQ_title p {
  font-family: "Work Sans", sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  color: #C4C4C4;
  margin: 0;
  text-align: center;
}
.FAQ .FAQ_item {
  margin-bottom: 1.25rem;
  padding: 0 1rem;
  text-align: justify;
}
.FAQ .FAQ_item h3 {
  font-family: "Baloo 2", cursive;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 0 0.5rem 0;
}
.FAQ .FAQ_item p {
  font-family: "Work Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: bold;
  color: #C4C4C4;
  margin: 0;
}

/*------------------------------------*\
    #Copyright Section
\*------------------------------------*/
.copyright {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  color: #C4C4C4;
  margin-top: 2rem;
  margin-bottom: 0;
  text-align: center;
}
.copyright a {
  color: #009E66;
}

/* Responsive styles */
@media (max-width: 768px) {
  .FAQ .FAQ_title {
    margin-bottom: 2rem;
  }
  .FAQ .FAQ_title h2 {
    font-size: 2rem;
  }
  .FAQ .FAQ_title p {
    font-size: 1rem;
  }
  .FAQ .FAQ_item {
    padding: 0 0.5rem;
  }
  .FAQ .FAQ_item h3 {
    font-size: 1.125rem;
  }
  .FAQ .FAQ_item p {
    font-size: 1rem;
  }
  .copyright {
    font-size: 1rem;
    margin-top: 1rem;
  }
}
@media (max-width: 480px) {
  .FAQ .FAQ_title {
    margin-bottom: 1.5rem;
  }
  .FAQ .FAQ_title h2 {
    font-size: 1.25rem;
  }
  .FAQ .FAQ_title p {
    font-size: 0.9rem;
  }
  .FAQ .FAQ_item {
    padding: 0 0.25rem;
  }
  .FAQ .FAQ_item h3 {
    font-size: 1rem;
  }
  .FAQ .FAQ_item p {
    font-size: 0.9rem;
  }
  .copyright {
    font-size: 0.9rem;
    margin-top: 0.5rem;
  }
}
/*------------------------------------*\
    #Contact Btn
\*------------------------------------*/
.contact_btn {
  width: 250px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E6EDF2;
  border-radius: 10px;
  border-color: transparent;
  text-align: center;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-right: 30px;
}
.contact_btn:hover {
  transform: scale(1.05);
  cursor: pointer;
}

/*------------------------------------*\
    #Button sparks
\*------------------------------------*/
.btn_sparks {
  padding: 1.25em 4em;
  border-radius: 1.25em;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #7570B3;
  transition: all 0.2s ease;
  font-family: "Baloo 2", cursive;
  font-weight: bold;
  font-size: 2vw;
  position: relative;
  min-width: 120px;
  min-height: 48px;
}
.btn_sparks:active {
  transform: scale(0.96);
}
.btn_sparks:before, .btn_sparks:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}
.btn_sparks:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, #7570B3 20%, transparent 20%), radial-gradient(circle, transparent 20%, #7570B3 20%, transparent 30%), radial-gradient(circle, #7570B3 20%, transparent 20%), radial-gradient(circle, #7570B3 20%, transparent 20%), radial-gradient(circle, transparent 10%, #7570B3 15%, transparent 20%), radial-gradient(circle, #7570B3 20%, transparent 20%), radial-gradient(circle, #7570B3 20%, transparent 20%), radial-gradient(circle, #7570B3 20%, transparent 20%), radial-gradient(circle, #7570B3 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}
.btn_sparks:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #7570B3 20%, transparent 20%), radial-gradient(circle, #7570B3 20%, transparent 20%), radial-gradient(circle, transparent 10%, #7570B3 15%, transparent 20%), radial-gradient(circle, #7570B3 20%, transparent 20%), radial-gradient(circle, #7570B3 20%, transparent 20%), radial-gradient(circle, #7570B3 20%, transparent 20%), radial-gradient(circle, #7570B3 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}
@media (max-width: 600px) {
  .btn_sparks {
    font-size: 1.2rem;
    padding: 0.8em 2em;
    border-radius: 0.8em;
  }
}
@media (max-width: 400px) {
  .btn_sparks {
    font-size: 1rem;
    padding: 0.6em 1.2em;
    border-radius: 0.6em;
  }
}

@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
body {
  background-color: #F5FDFF;
}

h1,
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

h2 {
  font-size: 40px;
}

p,
span,
li {
  font-family: "Lato", sans-serif;
  font-size: 20px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*------------------------------------*\
  #Header
\*------------------------------------*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  background: #FAFAFA;
}
header section {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1300px;
}
header section img {
  width: 180px;
  height: 180px;
  margin-right: 30px;
}
header section button {
  background: transparent;
  border-color: transparent;
}
header section .header_title {
  display: flex;
  flex-direction: column;
}
header section .header_title h1 {
  font-size: 60px;
  margin-bottom: -30px;
}
header section .header_title h2 {
  font-weight: 500;
  margin-bottom: -10px;
}
header section .header_title p {
  font-size: 25px;
  font-weight: 400;
  color: #388E3C;
}
header section .contact_btn,
header section button {
  background-color: #81C784;
  color: #FFFFFF;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: bold;
}
header section #whatsapp {
  background-color: #F7E1E6;
  color: #000000;
}

/*------------------------------------*\
  #About Me
\*------------------------------------*/
.about_me {
  text-align: justify;
}
.about_me span {
  color: #388E3C;
  font-weight: bold;
}

/*------------------------------------*\
  #Skilss
\*------------------------------------*/
.skills {
  display: flex;
  flex-direction: row;
  align-self: start;
  width: 100%;
  justify-content: space-between;
}
.skills div {
  display: flex;
  flex-direction: column;
  padding: 0 150px;
}
.skills ul {
  list-style: circle;
  padding: 0;
}

/*------------------------------------*\
  #Resume
\*------------------------------------*/
.resume {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.resume .notification {
  height: 140px;
  background: #FAFAFA;
  --gradient: #F8BBD0;
  --color: #FAFAFA;
}
.resume .notification:before {
  background: #F7E1E6;
}
.resume .notification .notititle {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
}
.resume .notification .notibody {
  font-family: "Lato", sans-serif;
  color: #99999D;
  padding: 0 1.25rem;
}
.resume .notification .notibody p,
.resume .notification .notibody li {
  margin-bottom: 0;
  font-size: 14px;
}
.resume .notification .notiglow,
.resume .notification .notiborderglow {
  width: 20rem;
  height: 20rem;
}

/*------------------------------------*\
  #Certifications
\*------------------------------------*/
.certifications {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}
.certifications .publications {
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: start;
  align-items: start;
}
.certifications .publications img {
  width: 120px;
  height: 120px;
  margin-right: 30px;
}
.certifications .publications .publications_body h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.certifications .publications .publications_body li {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 400;
  list-style: circle;
}

@media (max-width: 600px) {
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 16px;
    text-align: justify;
  }
  header {
    width: 100%;
    padding: 0.5rem;
  }
  header section {
    flex-direction: column;
    max-width: 400px;
  }
  header section img {
    width: 140px;
    height: 140px;
    margin-right: 0;
  }
  header section .header_title h1 {
    font-size: 30px;
    margin-bottom: -10px;
  }
  header section .header_title p {
    font-size: 16px;
    text-align: justify;
  }
  header section .contact_btn,
  header section button {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .skills {
    flex-direction: column;
    width: 90%;
    justify-content: space-between;
  }
  .skills div {
    display: flex;
    flex-direction: column;
    padding: 0 0px;
  }
  .certifications {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
  }
  .certifications .publications {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: start;
    align-items: start;
  }
  .certifications .publications img {
    width: 60px;
    height: 60px;
    margin-right: 30px;
  }
  .certifications .publications .publications_body h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 600;
  }
  .certifications .publications .publications_body li {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 400;
    list-style: circle;
  }
}/*# sourceMappingURL=index.css.map */